body {background-image: url(../fondo/fon.jpg);
  background-color:#D4EFDF;
  font-style: normal;
  border-color: red;
}
header
 h1 {color:#154360;
  background-color:#EBEDEF;
  font-size:5rem;
  text-decoration: underline;
  text-align:center;}
  .img1:hover {border-radius: 20%;width: 50%}
  .img1 {min-width: 40vw; height: 50vh;margin:10px auto;
    display:block;border: 3px solid:black}

nav{height: 25vh;display:flex; justify-content: space-around;}
    nav ul li {
      display: inline-block;
      font-size: 1,5em;}
  a:hover {color:pink;text-align:center;background-color:violet}

    .section-aside{display: flex;
        justify-content: space-around;}
section{width: 48vw;}

  h2{color: #1B4F72;
          font-size: 2rem;
          font-weight: bolder;}
  p { color:#1B4F72;
            font-size: 1.2em}
  h3 {color:#1B4F72;
              font-size: 2em;float:center;}
  h4 {color: #1B4F72;
                font-size: 1.5em}
  li {color: #1B4F72;
                  font-size:1.2em;}


aside { width: 40vw;}
  .iframe1 {width: 25vw;height: 25vh;margin:10px auto;
            display:block;}
  .iframe1:hover{width: 100%}
  .iframe2{width:25vw;;height: 25vh;margin:10px auto;
            display:block;}
  .iframe2:hover{width: 100%;}
  .a{width: auto;float: right;}


footer {clear: both;
        display: flex;
        justify-content: flex-end;  }
  .img2 {width: 3vw;height: 6vh;}
  .contacto{float: left; font-size:1.2em;color: #0277BD}

  form{width:400px;
       background-color: #D7CCC8;color:#212121;}
