body {background-image: url(../fondo/fon.jpg);
  background-color:#D4EFDF;
  font-style: normal;
  border-color: red;
  margin: 50px;
  padding: 1%;


}
header
h1 {color:#154360;
  background-color:#EBEDEF;
  font-size:70px;
  text-decoration: underline;
  text-align:center;}
  .img1:hover {border-radius: 20%;border: 10px solid:black;width: 50%}
  .img1 {min-width: 500px; height: 300px;margin:10px auto;
    display:block;border: 3px solid:black}



nav { width: auto;}
    nav ul li {
      display: inline-block;
      margin-left: 20%; margin-bottom: 2%;float: 50%;font-size: 20px;}
      a:hover {float: auto;color:pink;text-align:center; background-color:violet}


section
      {width: 55%;float: left;
        margin: 1%;
        padding: 10px;
        border: 3px solid:black;
        box-sizing: border-box;
        height: auto;
        overflow: auto;}

        h2{color: #1B4F72;
          font-size: 30px;
          font-weight: bolder;}
        p { color:#1B4F72;
            font-size: 20px}
        h3 {color:#1B4F72;
              font-size: 26px;float:center;}
        h4 {color: #1B4F72;
                font-size: 20px}
        li {color: #1B4F72;
                  font-size:17px}


aside { width: 40%;float: left;
        margin:1%;
        padding: 10px;
        border: 3px solid:black;
        box-sizing: border-box;
        height: auto;
        overflow: auto;}

      .iframe1 {width: 300px;height: 200px;margin:10px auto;
                display:block;}
      .iframe1:hover{width: 100%}
      .iframe2{width:300px;;height: 200px;margin:10px auto;
                      display:block;}
      .iframe2:hover{width: 100%;}
      .a{width: auto;float: right;}


  footer {clear: both;}
        .img2 {min-width: 50px;height: 50px;float:right;background-attachment: fixed;}
        .contacto{float: left; font-size:17px;color: #0277BD}

  form{width:400px;
      background-color: #D7CCC8;color:#212121;}
